<footer class="footer">
  <div class="rri-text-vic-logo-container">
    <a href="https://www.victoria.ac.nz/robinson">
      <p class="footer-text rri-text">Robinson Research Institute</p>
    </a>
    <a href="http://victoria.ac.nz">
      <img
        class="logo-vic"
        src="https://static.victoria.ac.nz/images/logo-white-full.svg">
    </a>
  </div>
  <hr>
  <div class="copyright-container">
    <p class="copyright-text footer-text">
      Website Design &copy; {{year}} Victoria University of Wellington, New Zealand |
      <a routerLink="/about" class="footer-text"> About</a> |
      <a href="mailto:rri-admin@vuw.ac.nz?subject=RRI HTS wire critical current database" class="footer-text">
        Contact
      </a>
    </p>
  </div>
</footer>
